*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(69, 189, 125);
}
#container{
  background-color: rgb(145, 32, 41);
  padding: 200px;
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  /* transform: translate(70%, 30%); */
  position: relative;
}
#mybtn{
    color: black;
    background-color: cadetblue;
    border-radius: 20px;
    padding: 20px 50px;
    margin-left: 35px;
    margin-top: -22px;
    color: aliceblue;
    position: absolute;
    cursor: pointer;
}
#print{
    color: aliceblue;
    text-align: center;
    margin-top: -60px;
    position: absolute;
    font-size: large;
}